{% load static %}
<header>
    <div class="menu_block ">
        <div class="container_12">
            <div class="grid_12">
                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                    <ul class="sf-menu">
                        <li class=""><a href="/">Ana Sayfa</a></li>
                        <li><a href="/hakkimizda">Hakkımızda</a></li>
                        <li class="dropdown mega-dropdown">
                            <a href="/"><p>Araçlar</p></a>
                            {% load mptt_tags %}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% recursetree category %}
                                    <li class="dropdown-item">
                                        <a href="{% url 'category_cars' node.id node.slug %}">{{ node.title }}
                                            {% if not node.is_leaf_node %}
                                                <ul class="children " aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item">{{ children }}</a>
                                                </ul>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </li>
                        <li><a href="/referanslarimiz">Referanslar</a></li>
                        <li><a href="{% url 'iletisim' %}">İletişim</a></li>
                        <li>
                            {% if user.id is not None %}
                                <li class="nav-item dropdown nav-user">
                                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5  class="mb-0 text-dark nav-user-name">{{ request.user.first_name}}</h5>

                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown " aria-labelledby="navbarDropdownMenuLink2">


                                        <a class="dropdown-item" href="/user">
                                            <i class="fas fa-user mr-2"></i>Account
                                        </a>
                                        <a class="dropdown-item" href="/user/rezervations">
                                            <i class="fas fa-car mr-2"></i>My Rents
                                        </a>
                                        <a class="dropdown-item" href="/user/comments">
                                            <i class="fas fa-comments mr-2"></i>My Comments
                                        </a>
                                        <a class="dropdown-item" href="/logout/">
                                            <i class="fas fa-power-off mr-2"></i>Logout
                                        </a>
                                    </div>
                                </li>
                            {% else %}
                                <li >
                                    <a class="btn-warning" href="/login">Login</a>/<a class="btn-warning" href="/signup/">signup</a>
                                </li>
                            {% endif %}
                        </li>
                        <li>
                            <form role="search" action="/search/" method="post">
                                {% csrf_token %}
                                <div>
                                    <input type="text" name="query" class="input search-input" placeholder="Search">
                                    <button class="search-btn bg-warning">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>

                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>
</header>