{% extends "homebase.html" %}

{% block title %} Login{% endblock %}
{% block description %}   {% endblock %}
{% block keywords %} {% endblock %}

{% block head %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }
        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }
        #login .container #login-row #login-column #login-box #login-form {
            padding: 20px;
        }
        #login .container #login-row #login-column #login-box #login-form #register-link {
            margin-top: -85px;
        }
    </style>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}



{% block content %}
    {% load static %}

    <!------ Include the above in your HEAD tag ---------->

    <body>
    <div id="login">
        <div class="container">

            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">

                    <div id="login-box" class="col-md-12">
                        <div class="col-md-12">
                            <div class="container">
                                <div class="section-title" align="center">
                                    <h3 class="title">Üye Kayıt Formu</h3>
                                </div>

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert" align="center">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <form class="form-style-9" action="" method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <p>
                                            {{ field.label_tag }}<br>
                                            {{ field }}
                                            {% if field.help_text %}
                                                <small style="color: grey">{{ field.help_text }}</small>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <p style="color: red">{{ error }}</p>
                                            {% endfor %}
                                        </p>

                                    {% endfor %}
                                    <button type="submit">Sign Up</button>
                                </form>


                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>                        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>

        <br>
        <br>
        <br>
        <br>
        <br>

        <br>
    </body>



{% endblock %}