{% extends "homebase.html" %}

{% block title %}  {{ profile.user_name }} {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}

{% block head %}
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}



{% block content %}

    <div class="container">

        <div class="about-main">
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <div class="map-box">
                            <h2 class="title">User Panel</h2>
                        </div>
                        {% include "user_panel.html" %}
                    </div>
                </div><!-- end col -->
                <div class="col-md-9">
                    <div class="map-box">
                        <h2 class="title">User Information</h2>
                        <div class="content">
                            <div class="media">
                                <img src="{{ profile.image.url}}" style="width: 150px;height: 200px " alt="">
                            </div>

                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    {{ user_form.as_p }}
                                    {{ profile_form.as_p }}

                                </fieldset>
                                <div class="form-group">
                                    <button class="btn-custom" type="submit">Update</button>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>
            </div>
         </div>
    </div>
{% endblock %}